<div class="cataleg-container"></div>
  <h1>CookLab</h1>
  <app-formulari-cerca></app-formulari-cerca>
  <hr>

  @if (elementService.carregant()) {
    <div class="loading-state">
      <p>⏳ Buscant receptes...</p>
    </div>
  }

  @if (elementService.error(); as msg) {
    <div class="error-state">
      <p>⚠️ {{ msg }}</p>
      <button type="button" (click)="elementService.obtenirPopulars()">Reintentar</button>
    </div>
  }

  @if (!elementService.carregant()) {
  @if (!elementService.error()) {
    <div class="product-grid">
      @for (item of elementService.elements(); track item.id) {
        <div class="product-card">
          <span class="badge">{{ item.categoria }}</span>
          <h3>{{ item.titol }}</h3>
          <p>{{ item.descripcio }}</p>
          <div class="info-extra">
            <p><strong>Preu:</strong> {{ item.preu }}€</p>
            <p><strong>Stock:</strong> {{ item.unitats }} unitats</p>
          </div>
        </div>
      }
    </div>
  }
}