.cataleg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.element {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

h1 {
  font-size: 3rem;
  color: #f5811b;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
}